/* FlexBox Mixins */
/* Animation Mixins */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px;
  font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica;
  font-weight: 300;
  font-size: 16px; }

h1 {
  margin: 0;
  font-weight: 300;
  font-size: 4em; }

h2 {
  margin: 0;
  font-weight: 300;
  font-size: 2.35em; }

h3 {
  margin: 0;
  font-weight: 300;
  font-size: 1.85em; }

.hidden {
  display: none; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  .container main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .container main .centered {
      text-align: center; }
    .container main .left {
      text-align: left; }
    .container main .right {
      text-align: right; }
    .container main section {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
      height: 500px;
      padding: 50px 50px;
      margin: 100px 0px; }
      .container main section div.section-content {
        height: auto;
        width: 450px; }
        .container main section div.section-content div.section-text {
          margin: 0 auto; }
      .container main section div.section-image {
        height: 70%;
        width: 50%;
        min-width: 400px;
        margin-left: 50px;
        border: 1px solid #EFEFEF;
        border-radius: 5px;
        background-size: cover; }
    .container main section#birthday-hero {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      height: 100%; }
      .container main section#birthday-hero div.section-content {
        -webkit-animation-delay: 400ms;
        -moz-animation-delay: 400ms;
        -ms-animation-delay: 400ms;
        -o-animation-delay: 400ms;
        animation-delay: 400ms;
        -webkit-animation-duration: 2s;
        -moz-animation-duration: 2s;
        -ms-animation-duration: 2s;
        -o-animation-duration: 2s;
        animation-duration: 2s;
        height: 300px;
        width: 100%; }
    .container main section#birthday-landing {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      .container main section#birthday-landing div.section-content div.section-text {
        margin: 0; }
      .container main section#birthday-landing div.section-image {
        background-image: url("../images/image1.JPG"); }
    .container main section#birthday-features {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
      .container main section#birthday-features div.section-image {
        background-image: url("../images/image2.JPG");
        background-position: 0 -50px;
        margin-left: 0%;
        margin-right: 50px; }
    .container main section#birthday-details {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      .container main section#birthday-details div.section-content ul {
        list-style-position: inside; }
      .container main section#birthday-details div.section-image {
        background-image: url("../images/image3.JPG"); }
    .container main section#birthday-closing {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .container main section#birthday-closing div.section-content div.section-text {
        margin: 0 auto;
        width: 350px; }
    .container main section#birthday-responsive {
      display: none; }

@media (max-width: 1099px) {
  .container main section {
    margin: 200px 0;
    min-width: 0px; }
    .container main section div.section-content {
      margin: 50px 0;
      text-align: center !important; }
    .container main section div.section-image {
      margin: 20px 0;
      height: 400px;
      width: 80%; }
  .container main section#birthday-hero {
    margin: 0px; } }
@media (max-width: 699px) {
  .container main section {
    display: none !important; }
  .container main section#birthday-responsive {
    display: block !important; }
    .container main section#birthday-responsive div.section-content {
      width: 100%;
      min-width: 0px; } }

/*# sourceMappingURL=main.css.map */
