@import "mixins";

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica;
	font-weight: 300;
	font-size: 16px;
}

h1 {
	margin: 0;
	font-weight: 300;
	font-size: 4em;
}

h2 {
	margin: 0;
	font-weight: 300;
	font-size: 2.35em;
}

h3 {
	margin: 0;
	font-weight: 300;
	font-size: 1.85em;
}

.hidden {
	display: none;
}

.container {

	@include flex-display;
	@include flex-direction-column;
	width: 100%;
	main {

		@include flex-display;
		@include flex-direction-column;
		@include justify-content(center);

		// Directions for text
		.centered {
			text-align: center;
		}

		.left {
			text-align: left;
		}

		.right {
			text-align: right;
		}

		// Home Page Sections
		section {
			@include flex-display;
			@include justify-content(center);
			@include flex-align-items(center);
			@include flex-wrap(wrap);
			@include flex-align-items-center;
			height: 600px;
			padding: 50px 50px;
			margin: 100px 0px;

			div.section-content {	
				height: auto;	
				width: 450px;

				div.section-text {
					margin:0 auto;					
				}
			}

			div.section-image {
				height: 70%;
				width: 50%;
				min-width: 400px;
				margin-left: 50px;
				border: 1px solid #EFEFEF;
				border-radius: 5px;
				background-size: cover;
			}
		}

		section#birthday-hero {
			@include flex-direction-row;
			height: 100%;
			
			div.section-content {	
				@include animation-delay(400ms);
				@include animation-duration(2s);
				height: 300px;	
				width: 100%;
			}
		}

		section#birthday-landing {
			@include flex-display;
			@include flex-direction-row;

			div.section-content {
				div.section-text {
					margin: 0;
				}
			}
			div.section-image {
				background-image: url('../images/image1.JPG');
			}
		}

		section#birthday-features {
			@include flex-display;
			@include flex-direction-row-reverse;

			div.section-content {

			}

			div.section-image {
				background-image: url('../images/image2.JPG');
				margin-left: 0%;
				margin-right: 50px;
			}
		}

		section#birthday-details {
			@include flex-display;
			@include flex-direction-row;

			div.section-content {
				ul {
					list-style-position: inside;
				}
			}

			div.section-image {
				background-image: url('../images/image3.JPG');
			}
		}

		section#birthday-closing {
			@include flex-display;
			@include flex-direction-column;
			@include justify-content(center);
			@include flex-align-items(center);
			@include flex-wrap(wrap);

			div.section-content {
				div.section-text {
					margin: 0 auto;
					width: 350px;
				}
			}
		}

		section#birthday-responsive {
			display: none;
		}

	}
}

@media (max-width: 1099px) {
	.container {
		main {
			section {
				margin: 200px 0;
				min-width: 0px;
				div.section-content {
					margin: 50px 0;
					text-align: center !important;
				}
				div.section-image {
					margin: 20px 0;
					height: 400px;
					width: 80%;
				}
			}
			section#birthday-hero {
				margin: 0px;
			}
		}
	}
}

@media (max-width: 699px) {
	.container {
		main {
			section {
				display: none !important;
			}
			section#birthday-responsive {
				display: block !important;
				div.section-content {
					width: 100%;
					min-width:0px;
				}
			}
		}
	}
}